/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

/*Wildcard Selector to Override Default Styling*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Default Link Styling*/
a{
    text-decoration: none;
    color: #537d90;
}

/*General Styles*/
body{

}

h1, h2, h3{
    
}