/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');;

/*Wildcard Selector to Override Default Styling*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Default Link Styling*/
a{
    text-decoration: none;
    color: #253f4b;
}

/*General Styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Body Styles*/
    color: #365563;
    background-color: #faf0dc;
    font-family: 'Montsettat', sans-serif;
}

h1, h2, h3{
    font-family: 'Jersey 25', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #253f4b;
}